{% extends 'base.html' %}

{% block head %}
<title>Homepage</title>
<style>
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background: url({{url_for('static', filename='hero.jpeg')}}) no-repeat center; 
    background-size: cover;
    height: 200px;
    position: relative;
  }
  
  .hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
  }
  </style>
{% endblock %}

{% block body %}
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:35px">Welcome to Mike's Playground!</h1>
    <h3>I practice my Python skills here, go away.</h3>
  </div>
</div>
<hr>
<img src="{{url_for('static', filename='vot.jpg')}}" alt="А вот" align="right" width="50%" height="50%"/>
<h3>Содержание:</h3>
<ol class="roman">
  <li><a href="/library">Static texts</a></li>
  <li><a href="/posts">Database</a></li>
  <li><a href="/regex">Regex</a></li>
  <li><a href="/socials">Social Networks integration</a></li>
  <li><a href="/chuck_norris">API</a></li>
  <li><a href="/parsing">Parsing</a></li>
  <li><a href="/css">CSS</a></li>
</ol>
{% endblock %}