body{
    font-family: Helvetica;
    max-width: 800px;
    margin: auto;
    background-color: rgb(236, 236, 236);
  }

  h4 {
    color: green;
    text-align: center;
  }

  ol.roman {
    list-style-type: upper-roman;
  }

   /* Navbar container */
.mynavbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.mynavbar a {
  float: left;
  font-size: 16px;
  color: white;
    text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.mynavbar a:hover { 
  COLOR: white; 
  TEXT-DECORATION: none; 
  font-weight: none 
}

/* The mydropdown container */
.mydropdown {
  float: left;
  overflow: hidden;
}

/* mydropdown button */
.mydropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.mynavbar a:hover, .mydropdown:hover .dropbtn {
  background-color: red;
}

/* mydropdown content (hidden by default) */
.mydropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the mydropdown */
.mydropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to mydropdown links on hover */
.mydropdown-content a:hover {
  background-color: #ddd;
}

/* Show the mydropdown menu on hover */
.mydropdown:hover .mydropdown-content {
  display: block;
}

.maintext {
  color: black;
  text-indent: 50px;
  line-height: 1.8;
  background-color: rgba(217, 236, 145, 0.795);
  text-align: justify;
  margin-right: 50px;
  margin-left: 50px;
  padding: 30px;
  /* background-image: url("paper.gif");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed; */
  font-family: Arial, Helvetica, sans-serif; /* The font-family property should hold several font names as a "fallback" system.
  If the browser does not support the first font, it tries the next font, and so on.
  Start with the font you want, and end with a generic family, to let the browser pick a similar font in the generic family, if no other fonts are available.  */
  }