{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title> 
{% endblock %}

{% block body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="/edit">Editing post</li>
    </ol>
  </nav>
<h1>Editing Post</h1>

    <hr>
    <h2>Edit:</h2>
    <form action='/posts/edit/{{post.id}}' method='POST'>
      <table>
        <tr>
          <td>
            Title:
          </td>
          <td>
            <input type='text' name='title' id='title'>
          </td>
        </tr>
        <tr>
          <td>
            Author:
          </td>
          <td>
            <input type='text' name='author' id='author'>
          </td>
        </tr>
        <tr>
          <td>
            Post:
          </td>
          <td>
            <input type='text' name='content' id='content'>
          </td>
        </tr>
        <tr>
          <td>
            Admin password:
          </td>
          <td>
            <input type='text' name='pwd' id='pwd'>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <input type='submit' value='Post'>
          </td>
        </tr>
      </table>
    </form>
    <hr>
{% endblock %}