{% extends 'base.html' %}

{% block head %}
<title>Graphs</title> 
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="/graphs">Graphs</li>
  </ol>
</nav>

<h1>Пример работы Mathplotlib на сайте</h1>
  <br>

  <img src='data:image/png;base64,{{data}}'/>
  <br>
<form action='/graphs/' method='POST'>{% csrf_token %}
  <table>
      <!-- {{ form.as_table }} -->
    {% for field in form %}
    <tr>
      <td>{{field.label}}</td>
      <td>{{field}}</td>
      <td><span id="{{ field.label }}"></span></td>
    </tr>
    {%endfor%}
  </table>
  <span id="Амплитуда:"></span>
  <span id="Период:"></span>
  <span id="Ph_shift_value"></span>
  <span id="Ver_shift_value"></span>
  <input type='submit' value='Graph it!'>

    <script>
      var slider1 = document.getElementById("amplitude");
      var output1 = document.getElementById("Амплитуда:");
      output1.innerHTML = slider1.value;
      slider1.oninput = function() {output1.innerHTML = this.value;}

      var slider2 = document.getElementById("period");
      var output2 = document.getElementById("Период:");
      output2.innerHTML = slider2.value;
      slider2.oninput = function() {output2.innerHTML = this.value;}

      var slider3 = document.getElementById("ph_shift");
      var output3 = document.getElementById("Смещение фазы:");
      output3.innerHTML = slider3.value;
      slider3.oninput = function() {output3.innerHTML = this.value;}

      var slider4 = document.getElementById("ver_shift");
      var output4 = document.getElementById("Вертикальное смещение:");
      output4.innerHTML = slider4.value;
      slider4.oninput = function() {output4.innerHTML = this.value;}
    </script>

</form>

<br>

{% endblock %}