{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Homepage</title>
<style>
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background: url({% static 'pages/hero.jpeg' %}) no-repeat center;
    background-size: cover;
    height: 200px;
    position: relative;
  }
  
  .hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
  }
  </style>
{% endblock %}

{% block body %}
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:35px">Welcome to Mike's Playground!</h1>
    <h3>I practice my Python skills here, go away.</h3>
  </div>
</div>
<hr>
<img src="{% static 'pages/safe.jpg' %}" alt="Лис" align="right" width="50%" height="50%"/>
<h3>Содержание:</h3>
<ol class="roman">
  <li><a href="/database">Database</a></li>
  <li><a href="/regex">Regex</a></li>
  <li><a href="/lightbox">Lightbox gallery</a></li>
  <li><a href="/socials">Social Networks integration</a></li>
  <li><a href="/chuck_norris">API</a></li>
  <li><a href="/parsing">Parsing</a></li>
  <li><a href="/css">CSS</a></li>
  <li><a href="/graphs">Graphs</a></li>
  <li><a href="/estonia">Estonia 2018</a></li>
  <li><a href="/germany">Germany 2019</a></li>
  <li><a href="/russia">Russia 2021</a></li>
  <li><a href="/imperial_library">Imperial Library</a></li>
</ol>
{% endblock %}