{% extends 'base.html' %}

{% block head %}
<title>Posts</title> 
{% endblock %}

{% block body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="/posts">Posts</li>
    </ol>
  </nav>

<h1>All Posts</h1>

    <hr>
    <h2>Create New Blog Post:</h2>
    <form action='/posts' method='POST'>
      <table>
        <tr>
          <td>
            Title:
          </td>
          <td>
            <input type='text' name='title' id='title'>
          </td>
        </tr>
        <tr>
          <td>
            Author:
          </td>
          <td>
            <input type='text' name='author' id='author'>
          </td>
        </tr>
        <tr>
          <td>
            Post:
          </td>
          <td>
            <input type='text' name='content' id='content'>
          </td>
        </tr>
        <tr>
          <td>
            Admin password:
          </td>
          <td>
            <input type='text' name='pwd' id='pwd'>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <input type='submit' value='Post'>
          </td>
        </tr>
      </table>
    </form>
    <hr>

    {% for post in posts %}
        <h2>{{ post.title }}</h2>

        {% if post.author %}
            <h3>By: {{ post.author }}</h3>
        {% else %}
            <h3>By: N/A</h3>
        {% endif %}
        
        <p>{{ post.content }}</p>
        <a href='/posts/delete/{{post.id}}'>Delete</a>
        <a href='/posts/edit/{{post.id}}'>Edit</a>
        <hr>
    {% endfor%}

{% endblock %}