{% extends 'base.html' %}

{% block head %}
<title>API</title>
{% endblock %}

{% block body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="/regex">RegEx</li>
    </ol>
  </nav>

<h1>Эта страница работает с регулярными выражениями.</h1>
<h3>Например, они могут найти все адреса электронной почты в длинном тексте.</h3>
Вставьте сюда текст с разбросанными адресами e-mail, например:<br><br>
wtgbbrtbertn 56 u4h4 67h 46h36 67h 47h 47h 56 hh@ergrt.ru
w5rg 54g 54g 36 365 5g54@4gt.lib h3656h 6yh ffferg[at]erg254g.t4
<br>
<br>
<form action='/regex/' method='POST'>{% csrf_token %}
  {{ form.as_p}}
  <input type="submit" value="Найти адреса">
</form>
<br>
{% for result in results %}
    {{ result }}<br>
{% endfor%}
<br>Happy spamming!
{% endblock %}