{% extends 'base.html' %}

{% block head %}
<title>Social Networks - авторизация OAuth</title>
{% endblock %}

{% block body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="/socials">Socials</li>
    </ol>
  </nav>

<h1>Выгрузка статистики из соцмедиа</h1>
<br>
<a href="https://oauth.vk.com/authorize?client_id=7780087&display=page&redirect_uri=https://rolliesplayground.herokuapp.com/socials2&scope=stats,groups&response_type=code&v=5.52">Авторизация ВК</a>


<br>

{% endblock %}